

.itemCard-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: rgb(232, 232, 232);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2 {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.bidPaddle {
  width: 50px;
}