@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fredericka+the+Great&display=swap');

.itemCard-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: rgba(110, 107, 100, 0.719);
  box-shadow: 1px 1px 1px rgba(124, 13, 28, 0.836);
  border-radius: 5px;
  font-family: 'Fredericka the Great';
  transition: background-color 0.3s, transform 0.3s;
}

.itemCard-container:hover {
  background-color: rgba(43, 42, 40, 0.849);
  transform: scale(1.07);
  color: rgba(236, 233, 228, 0.781);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2 {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}