@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fredericka+the+Great&display=swap');

.page-container {
  width: 67vw;
  margin: auto;
  background-color: rgba(207, 199, 182, 0.644);
  padding: 2rem;
  height: 220vh;
  overflow: auto;
  text-align: justify;
  font-family: 'Fredericka the Great';

}

.page-container::-webkit-scrollbar {
  width: 6px;
}

.page-container::-webkit-scrollbar-thumb {
  background-color: rgba(207, 199, 182, 0.644);
}

.page-container::-webkit-scrollbar-track {}

.page {
  background-size: cover;
  background-position: center;
  background-image: url('../images/houselightcopy.jpg');
}