.page-container {
  width: 67vw;
  margin: auto;
  background-color: rgba(207, 199, 182, 0.644);
  padding: 2rem;
  min-height: 100vh;
  max-height: 200vh;
  overflow: auto;
  text-align: justify;
}

/* WebKit-based browsers (Chrome, Safari) */
.page-container::-webkit-scrollbar {
  width: 6px;

  /* Adjust the width of the scrollbar as needed */
}

.page-container::-webkit-scrollbar-thumb {
  background-color: rgba(207, 199, 182, 0.644);

  /* Color of the scrollbar thumb */
}

.page-container::-webkit-scrollbar-track {
  background-color: transparent;
  /* Color of the scrollbar track */
}

.page {
  background-size: cover;
  background-position: center;
  background-image: url('../images/houselight.jpg');
}