nav {
  display: block;
  margin: 20px auto;
  font-size: 1.2rem;
  width: 50%;
  background-color: rgba(207, 199, 182, 0.644);
  text-align: center;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}